#reset-this-root {
  all: initial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,
body {}

body {
  font-family: "Poppins", sans-serif;

  /* min-width: 1170px; */
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px 0 80px;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 161px;
}

.header-menu {
  display: flex;
  column-gap: 55px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  /* line-height: 27px;        */
}

form option {
  border: none;
  background-color: rgb(202, 201, 201);
}

.header a {
  color: #fff;
}

.interior {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.interior-slogan {
  max-width: 834px;
  min-width: 229px;
  /* max-height: 144px; */
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 48px;
  /* line-height: 72px; */
  text-align: center;
}

.interior-text {
  max-width: 574px;
  /* max-height: 72px; */
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 200%; */
  text-align: center;
}

.interior-search {
  /* display: flex; */
  width: 360px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
  border-radius: 30px;
}

.interior-search::placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 200%; */
  text-indent: 19px;
  /* text-align: center; */
}

.interior-search-form {
  position: relative;
}

.button-search {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 50%;
}

.header-wrapper {
  position: absolute;
  width: 100%;
  /* height: 50%;   */
  top: 0;
  left: 0;
  z-index: 2;
}

.swiper {
  width: 100%;
  height: 100%;
  /* min-width: 0;   */
  /* position: absolute;
    top: 0;
    left: 0;
    z-index: -1;  */
}

.swiper-slide img {
  /* width: 1920px;
    height: 1000px; */
}

.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  gap: 20px;
  min-width: 0;
  margin-bottom: 60px;
  /* z-index: 5; */
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  /* gap: 50px !important; */
  background-color: #fadcd9;
  border: 1px solid #f79489;
}

.swiper-pagination-bullet-active {
  background: #f79489;
  border: 1px solid #f79489;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  color: #564e4e;
}

/* Why Choosing Us */
.why-choosing-us .title {
  margin-bottom: 16px;
}

.why-choosing-us {
  margin: 80px 80px 211px 80px;
}

.why-choosing-us-row {
  display: flex;
  gap: 20px;
}

.why-choosing-us-block {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 425px;
  height: 280px;
  gap: 10px;
}

/* .why-choosing-us-block.active {    
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fadcd9;
    box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
    border-radius: 10px;
} */

.why-choosing-us-block:hover {
  content: "";
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fadcd9;
  box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
  border-radius: 10px;
}

.why-choosing-us-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #564e4e;
}

.why-choosing-us-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #564e4e;
}

.why-choosing-us-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #f79489;
}

/* Product */

.product .title {
  text-align: center;
  margin-bottom: 40px;
}

.product-row {
  display: flex;
  gap: 20px;
  margin: 0 80px 0 80px;
}

.product-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #564e4e;
  margin-top: 20px;
  margin-bottom: 10px;
}

.product-item-category {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #c4c4c4;
  margin-bottom: 10px;
}

.product-item-rating {
  margin-bottom: 20px;
}

.product-item-idr {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #564e4e;
  margin-bottom: 200px;
}

.product-item-price {
  display: none;
}

/* Customers */

.customers {
  height: 800px;
  background: linear-gradient(279.85deg, #ffffff 0%, #faf5f2 100%);
  margin-bottom: 200px;
}

.customer-row {
  display: flex;
  gap: 70px;
  margin-left: 80px;
  margin-right: 80px;
}

.customer-item {}

.customers .title {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 110px;
}

.customer-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  color: #564e4e;
}

.customer-text {
  /* height: 50%; */
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 56px;
  color: #564e4e;
}

.customer-info {
  display: flex;
}

.photo {
  margin-right: 10px;
}

.customer-name h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #564e4e;
}

.customer-name p {
  font-weight: 300;
  font-size: 14px;
  line-height: 200%;
  color: #564e4e;
}

/* Order */

.order {
  display: flex;
  gap: 80px;
  margin-bottom: 200px;
}

.order-left-column {
  margin-left: 80px;
  min-width: 876px;
}

.order-right-column {
  margin-right: 80px;
}

.order-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  color: #564e4e;
}

.order-text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #564e4e;
}

.order-email-form {
  display: flex;
  /* margin-bottom: 392px; */
  width: 400px;
  height: 60px;
  background: #fefcfb;
  border: 1px solid #fadcd9;
  border-radius: 30px;
}

.order-email-form-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #f79489;
}

.order-email-form-input {
  padding-left: 20px;
  padding-right: 10px;
}

.order-left-column img {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.footer {
  color: #fadcd9;
  background: linear-gradient(275.58deg, #000000 0%, #4b4b4b 100%);
}

.footer-row {
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  column-gap: 240px;
}

.footer-logo {
  padding-right: 34px;
}

.footer a {
  color: #fff;
}

.footer-column li {
  margin-bottom: 24px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.footer-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.copyright {
  text-align: center;
  padding-top: 197px;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

/* Media Query */

@media screen and (max-width: 375px) {
  .header-logo {
    width: 86px;
    height: 25px;
  }

  .basket {
    width: 24px;
    height: 24px;
  }

  .header {
    padding: 20px;
    margin-bottom: 40px;
  }

  .header-menu {
    /* display: none; */
  }

  .interior-slogan {
    max-width: 229px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .interior-text {
    max-width: 292px;
    margin-bottom: 20px;
    font-size: 12px;
  }

  .interior-search {
    width: 280px;
    height: 38px;
  }

  .interior-search::placeholder {
    font-size: 10px;
  }

  .button-search {
    top: 5px;
    right: 5px;
    height: 28px;
    width: 28px;
  }

  .swiper-pagination-horizontal {
    gap: 8px;
    margin-bottom: 20px;
  }

  .swiper-pagination-bullet {
    height: 8px;
    width: 8px;
  }

  .why-choosing-us .title {
    display: none;
  }

  .why-choosing-us {
    margin: 20px;
  }

  .why-choosing-us-row {
    flex-direction: column;
  }

  .why-choosing-us-block {
    width: 335px;
    height: 160px;
    padding: 10px;
    gap: 5px;
  }

  .why-choosing-us-img {
    height: 28px;
    width: 28px;
  }

  .why-choosing-us-title,
  .why-choosing-us-text,
  .why-choosing-us-info {
    font-size: 12px;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
  }

  .product-row {
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 20px;
  }

  .product-item-title {
    font-size: 14px;
  }

  .product-item-category {
    font-size: 12px;
  }

  .product-item-idr {
    display: none;
  }

  .product-item-price {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    color: #564e4e;
    margin-bottom: 20px;
  }

  .customers .title {
    margin-bottom: 40px;
  }

  .customer-row {
    flex-direction: column;
  }

  .customer-row {
    margin-left: 19px;
    margin-right: 20px;
    gap: 40px;
  }

  .customer-title {
    font-size: 14px;
  }

  .customer-text {
    font-size: 12px;
  }

  .customer-name h3 {
    font-size: 14px;
  }

  .customer-name p {
    font-size: 12px;
  }

  .order {
    flex-direction: column;
    margin-top: 188px;
    gap: 40px;
  }

  .order-left-column {
    margin-left: 20px;
    margin-right: 20px;
  }

  .order-right-column {
    margin-left: 20px;
    margin-right: 20px;
  }

  .order-title {
    font-size: 14px;
  }

  .order-text {
    font-size: 12px;
  }

  .order-email-form {
    position: relative;
    width: 280px;
    height: 38px;
  }

  .order-email-form-input::placeholder {
    font-size: 10px;
  }

  .btn-order {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .footer-row {
    flex-direction: column;
    padding-left: 20px;
    gap: 40px;
  }

  .footer-logo {
    /* width: 124px; */
    margin-top: -20px;
  }

  .footer-logo img {
    width: 124px;
  }

  .footer-title {
    font-size: 14px;
    line-height: 21px;
  }

  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }

  .copyright {
    font-size: 12px;
    line-height: 18px;
    padding-top: 100px;
    padding-bottom: 28px;
  }
}