.customers__slider {    
    position: relative;
    margin: 0 auto;
}

.slick-slider {
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-dots {
    display: flex;    
    justify-content: center;    
}

.slick-dots li {   
    list-style: none;
    margin: 125px 20px 62px;
}

.slick-dots button {
    background-color: #FADCD9;
    font-size: 0;
    width: 10px;
    height: 10px;    
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background-color: #F79489;
}
