/* Стиль кнопок, которые используются для открытия 
и закрытия панели аккордеона */
.accordion {
    
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

 .accordion::after {
    content: '\02795';  /* Символ юникода для "плюса" знак (+) */
    font-size: 20px;
    color: transparent;
    text-shadow: 0 0 0 #FADCD9;
    float: right;
    margin-left: 5px;
} 

/* Добавить цвет фона для кнопки, если она нажата 
(добавить .активный класс с JS), а при наведении 
на него курсора мыши (наведите курсор) */


.ideas__left-column .active::after {
    content: "\2796";  /* Символ юникода для "минуса" знак (-) */
}

.ideas__left-column .active, .accordion:hover {
    /* background-color: #ccc; */
}

/* Стиль аккордеон панели. Примечание: скрыто по умолчанию */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}